  <h1>{{heading}}</h1>
      
            <div>
                <h2>Zasady gry </h2>
                <h3>Zasady są bardzo proste musisz odgadnąć ukryte hasło Podajesz jaka litera według ciebie znajduje się w ukrytym
                    haśle, jednak gdy podasz złą literę zacznie budować się szubienica Strzeż się gdy nie odgadniesz prawidłowego
                    hasło zawiśniesz na szubienicy i zostaniesz wisielcem! </h3>
            </div>
            <br>
            <div>

                <h2>Wykorzystane narzędzia/technologie </h2>
                <div class="table-responsive" style="width: 220px; margin: auto;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://codevisualstudiocom/" target="_blank">
                                        <img src="/img/VScode.png" alt="Visual Studio Code" width="32" height="32">
                                    </a>
                                </td>
                                <td>Visual Studio Code</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://docsnpmjscom/" target="_blank">
                                        <img src="/img/npm.png" alt="npm" width="64" height="32">
                                    </a>
                                </td>
                                <td>npm</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://jspmio/" target="_blank">
                                        <img src="/img/jspm.png" alt="jspm" width="32" height="32">
                                    </a>
                                </td>
                                <td>jspm</td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://gulpjscom/" target="_blank">
                                        <img src="/img/gulp.png" alt="gulp" width="32" height="32">
                                    </a>
                                </td>
                                <td>gulp</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://git-scmcom/" target="_blank">
                                        <img src="/img/git.png" alt="Git" width="32" height="32">
                                    </a>
                                </td>
                                <td>Git</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>